@*@model FirstMVC.Models.ManoTest*@
@*apsirasom su mazaja raide*@
@model FirstMVC.Models.InputViewModel


@*<h1 class="text-secondary">@Model.Query</h1>*@
<h2 class="text-secondary">@Model.Skaicius</h2>
<h3 class="text-sexondary">@Model.FirstName</h3>
<h3 class="text-sexondary">@Model.LastName</h3>


@*@for (int i = 0; i < Model.Skaicius; i++)
{
    <strong>*</strong>
}*@
@*cia naudojam su didziaja raide*@

@*<h1>@ViewBag.manoStringas</h1>*@
@*<h2>@ViewData["foo"]</h2>
<h3>@ViewData["bar"]</h3>*@
